div {
    display: flex;
    flex: 3;
    align-items: stretch;
    justify-content: center;
}

html, body, #all { height: 100%; }

#center { flex-direction: column; }

#left { background-color: purple; }

#right { background-color: yellow; }

#up{ background-color: green; }

#down{ background-color: red; }

#controls {
    flex-direction: column;
    flex: 1;
}

#player, #select {
    background-color: black;
    color: white;
}

#start {background-color: grey; }

#b { background-color: orange; }
#a { background-color: blue; }

